*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
}

body {
    font-family: arial;
    background-image: url(./fondo.jpg);
}

.container {
    height: 150px;
    width: 350px;    
    color: white;
    font-size: 15px;
    margin: 20px;
    text-align: center;
}
.containerPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 350px;    
    color:whitesmoke;
    font-size: 15px;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    text-align: center;
    
}


.flatpickr {
    margin-left: auto;
    margin-right: 0;
}
.botonflatpick {
    margin-left: auto;
    margin-right: auto;
}

.btn {
   
    margin-left: 15;
}

.choose {
    height: 100px;
    width: 150px;    
    font-size: 15px;
    margin: 15px;
    margin-left: 79px;
}

.custom-select {
    margin-top: 30px;
}
.form-row {
    height: 150px;
    width: 350px;
    
    color: white;    
    margin: 20px;
}

.col-auto {
    margin-left: auto;
}

.input-group {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.hola {
    display: flex;
    flex-direction: column;
    justify-content:right;
    height: 120px;
    width: 160px;
    margin: 100px;
}
.button {
    display: flex;
    flex-direction:row;
    margin: auto;
    background-color: blueviolet;
}